input(type='hidden', name='_csrf', value=csrfToken)
.form-group
  label.control-label.font-weight-bold(for="name") Введите ваше имя
  input#name.form-control(
    type="text",
    name="result[name]",
  )